
body{
 font-family:Helvetica, Arial, Verdana, sans-serif;
 color:#6b6b6b;
}

input{
 background: none repeat scroll 0 0 #f8f8f8;
 border-color: #C6C6C6 #DADADA #EAEAEA;
 border-radius: 4px 4px 4px 4px;
 -moz-box-sizing: border-box;
 padding-left:7px;
 border-style: solid ;
 border-width: 1px;
 vertical-align: middle;
 height:25px;
 font-size:14px;
 line-height:25px;
}


#container{
 padding:0px;
 margin:0px;
}

#canvas {
 padding:0px;
 margin:0px;
 background-color:#FAFAFA;
}


#toolbar{
background: #cecece; /* Old browsers */
background: -moz-linear-gradient(top,  #cecece 0%, #a8a8a8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cecece 0%,#a8a8a8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
 padding:8px;
 margin:0px;
 height:50px;
 border-bottom: 1px solid #515151;
}



