<div class="modal-header">
    <h3 class="modal-title">File Open</h3>
</div>
<div class="modal-body">
    <div class="list-group">
         <a href="#" ng-click="selected.file = file" 
                     ng-class="{'active': selected.file == file}"
                     ng-repeat="file in files" 
                     class="list-group-item">{{ file.name }}</a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()"  ng-disabled="selected.file==null" >OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
