* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #f9f9f9;
	color: #212121;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

#canvas {
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	top: 64px;
	right: 0px;
	left: 160px;
	bottom: 0px;
	overflow: scroll;
	background-color: #FFFFFF;
}

#toolbar {
	position: absolute;
	margin: 0px;
	padding-top: 10px;
	padding-left: 20px;
	top: 0px;
	left: 160px;
	height: 64px;
	right: 0px;
	overflow: hidden !important;
	z-index: 1000 !important;
	border: 0 none;
	border-bottom: 1px solid #d6d6d6;
	background-color: #c2185b !important;
}

#toolbar_hint {
	position: absolute;
	top: 19px;
	height: 64px;
	right: 40px;
	color: white;
}

.palette_node_element {
	border: 1px solid gray;
	background-color: #f3f3f3;
	padding: 10px;
	cursor: move;
	width: 80px;
	margin: 30px auto 30px auto;
	text-align: center;
	align: center;
	border-radius: 5px;
}

#side-nav {
	border-right: 1px solid #e0e0e0;
	bottom: 0;
	background: #fff;
	color: #333;
	display: block;
	font-family: 'RobotoDraft', sans-serif;
	left: 0;
	position: fixed;
	top: 0;
	width: 160px;
	z-index: 4;
}

#side-nav #logo {
	border-bottom: 1px solid #e0e0e0;
	display: block;
	height: 64px;
	margin: auto;
	padding: 12px 24px 10px 24px;
	position: relative;
	font-size: 30px;
	font-weight: 100;
}

button.gray,a.gray,input[type=submit].gray {
	padding: 10px 10px;
	-webkit-border-radius: 2px 2px;
	border: solid 1px #dadada;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4),
		color-stop(100%, #f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
	/* IE10+ */
	background: linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f4f4f4',
		endColorstr='#f1f1f1', GradientType=0); /* IE6-9 */
	color: #555;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	line-height: 1;
	font-size: 11px;
	min-width: 80px;
}

.gray:hover {
	border: 1px solid #c6c6c4;
  background:  #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8),
		color-stop(100%, #f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	/* IE10+ */
	background: linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f8f8f8',
		endColorstr='#f1f1f1', GradientType=0); /* IE6-9 */
	color: #222;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(10, 10, 10, 0.4);
	-moz-box-shadow: 0px 1px 1px 0px rgba(10, 10, 10, 0.4);
	box-shadow: 0px 1px 1px 0px rgba(10, 10, 10, 0.4);
}

.gray:active {
	border: 1px solid #c6c6c4;
	color: #222;
	-webkit-box-shadow: inset 0 0 2px 4px #f1f1f1, 0 1px 0 0 #eeeeee;
	-moz-box-shadow: inset 0 0 2px 4px #f1f1f1, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 2px 4px #f1f1f1, 0 1px 0 0 #eeeeee;
}

.disabled {
	cursor: default !important;
	color: #888 !important;
	opacity: 0.8;
}
