body{
 font-family:Helvetica, Arial, Verdana, sans-serif;
 color:#6b6b6b;
}

#container{
 padding:0px;
 margin:0px;
}

#canvas {
 padding:0px;
 margin:0px;
 background-color:#FFFFFF;
}


#content {
 padding:0px;
 margin:0px;
}

