body{
  background: white;
  margin:0px;
}



rect.draw2d_ResizeHandle
{
    fill:#ff0000;
}

 
/**
 * Possible Type:
 * 
 *     1             2               3
 *     O-----------O-------------O
 *     |                         |
 *     |                         |
 *   8 O           + 9           O 4
 *     |                         |
 *     |                         |
 *     O-----------O-------------O
 *   7             6               5
 * 
 **/
rect[type="2"].draw2d_ResizeHandle
{
    fill:#00FF00;
}


