body {
	overflow: hidden;
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
}

#canvas {
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	top: 80px;
	left: 0;
	bottom: 0;
	overflow: scroll;
	background-color: #FFFFFF;
}

#toolbar {
	margin: 0;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 20px;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	overflow: visible !important;
	z-index: 1000 !important;
	border: 0 none;
	border-radius: 0;
	border-bottom: 1px solid #d6d6d6;
	background-color: #E9E9E9 !important;
	background-image: none;
}

#toolbar .btn:hover {
	border: 1px solid #26B4A8 !important;
}
